body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: purple;
    font-family: 'candara';
}

.section{
    /* height: 100vh;
    width: 100%; */
}
.container{
    margin-left: 2rem;
    margin-right: 2rem;
}
nav{
    padding: 1.2em;
}
.first-nav-ul{
display: flex;
justify-content: space-around;
/* width: 30rem; */
color:whitesmoke;
list-style-type: none;
letter-spacing: .1em;

}

.intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40em; */
    /* height:fit-content; */
    /* margin: 5em auto; */
    word-wrap: normal;
}

.small-header{
    color: gold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.big-header{
    color:whitesmoke;
    font-size: 5rem;
    font-weight: 300;
}
.start-quiz-btn{
    color:whitesmoke;
    /* margin-top: 2em; */
    margin-bottom: 2em;
    width: fit-content;
    padding: .5em;
    font-size: 1.5rem;
    letter-spacing: .1em;
    border-radius: .5em;
    background-color: transparent;
    border-color: whitesmoke;
    border: 1px solid silver;
    cursor: pointer;
}
.start-quiz-btn:hover{
    color: white;
    background-color: darkorchid;
    border: 1px solid silver;
}


.question-section{
    /* background-color: red; */
    border-radius: 5px;
    margin: 0 auto;
    /* padding-top: 1em; */
    /* padding: 1em; */
    /* padding-left: 1em; */
    /* padding-right: 1rem; */
    max-width: 31rem;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 1px;
    height: auto;
    overflow: hidden;
    
}
.question-section::-webkit-scrollbar{
    /* display: none; */
}

.all-questions{
    /* background-color: pink; */
       height: 100%;
       display: flex;
       justify-content: center;
       margin-bottom: 1em;
       border-radius: 5px;
       /* padding: 20px; */
       width: 100%;
}

.question-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    
}

.question-section ul li{
    width: auto;
}

.question-section div{
    width:150rem;
    height: fit-content;
    background-color: white;
    padding: 1em;
    margin: 0 auto;
    /* border: 1px solid silver; */
    /* margin-left:10px; */
    /* margin: 10px; */
    /* margin-left: 50px; */
    /* margin-right: 100px; */
}



.li-styling li {
    border:1px solid silver;
    padding: 10px;
    margin: 10px;
    border-radius:5px;
}

.li-styling li:hover{
    background-color: #eee;
    color:#333333;
}




.navigationBtn{
    /* background-color: white; */
    margin: 1em;
   display: flex;
   justify-content: center; 
}
button{
    background-color: darkmagenta;
    color: white;
    padding:10px;
    border: 1px solid silver;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 150px;
    
} 

.nextBtn{
    float: right;
    right: 0;
    top: 0;
}
.previousBtn{
    left:0;
    top: 0;
    float: left;
}
button:hover{
    color:white;
    background-color: darkorchid;
    cursor: pointer;
}


.removeIntroBox{
    /* display: none; */
    /* transform: translateY(-150%);
    transition: transform 0.5s ease-out; */
    display: none;
}

.slideQuestionBoxUp{
    /* display: block;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
    padding:1em;
     background-color: white;
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 150rem; 
    */
}

.divider{
    width: 100%;
    background-color: silver;
    height:1px;
}

.noClicking {
    pointer-events:none; 
    opacity:0.6;
}
