body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: purple;
    font-family: 'Roboto';
}


.container{
    margin: 1em;
}

.first-nav-ul{
display: flex;
justify-content: space-evenly;
color:whitesmoke;
list-style-type: none;
letter-spacing: .1em; 
visibility:hidden;
}

.intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:fit-content;
    word-wrap: break-word;
}

.small-header{
    color: gold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.big-header{
    color:whitesmoke;
    font-size: 3.5rem;
    font-weight: 300;
}
.start-quiz-btn{
    color:whitesmoke;
    margin-bottom: 2em;
    width: fit-content;
    padding: .5em;
    font-size: 1.5em;
    letter-spacing: .1em;
    border-radius: .5em;
    background-color: transparent;
    border-color: whitesmoke;
    border: 1px solid silver;
    cursor: pointer;
}
.start-quiz-btn:hover{
    color: white;
    background-color: darkorchid;
    border: 1px solid silver;
}


.question-section{
    border-radius: 5px;
    margin: 3em auto;
    max-width: 30rem;
    color: #333333;
    font-size: 1em;
    letter-spacing: 1px;
    height: auto;
    overflow: hidden;
    
}


.all-questions{
    padding: 10px;
    height: 100%;
    display: flex;
    margin-bottom: 1em;
    border-radius: 5px;
    width: 145em;
}

.question-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.question-section ul li{
    width: fit-content;
}

.question-section div{
    width:150em;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
}



.li-styling li {
    border:1px solid silver;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius:5px;
}

.li-styling li:hover{
    background-color: #eee;
    color:#333333;
}

.navigationBtn{
    margin: 1em;
   display: flex;
   justify-content: center; 
}
button{
    background-color: darkmagenta;
    color: white;
    padding:10px;
    border: 1px solid silver;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 150px;
    
} 

.nextBtn{
    float: right;
    right: 0;
    top: 0;
}
.previousBtn{
    left:0;
    top: 0;
    float: left;
}
button:hover{
    color:white;
    background-color: darkorchid;
    cursor: pointer;
}


.divider{
    width: 100%;
    background-color: silver;
    height:1px;
}

.noClicking {
    pointer-events:none; 
    opacity:0.6;
}


@media screen and (max-width:321px){
    h3{
        width: 80%;
        font-weight: 600;
        margin: 1em;
    }


.all-questions{
       height: 100%;
       display: flex;
       justify-content: center;
       border-radius: 5px;
       width: 100%;
}

.question-section ul{
    position: relative;
    width: 16em;
    margin:1em;
    
}

.question-section ul li{
    width: auto;
}

.question-section div{
    width:fit-content;
    height: fit-content;
    background-color: white;
    margin: 0 auto;
}



} 



.scorebox{
    color:white;  
    float:right; 
    margin-bottom:5px;  
    font-size: 1em; 
    top:0; 
    right:0;
}

.totalQuestions{
    color:white;
    
}

.result{
    width:30em;
    margin:0 auto;
    display: flex;
    justify-content: center;
}